#home-container {
    max-width: 90%;
     margin: auto;
    //  border-color: black;
    //  border-style: solid;
  }

  #portfolio-name {
    text-align: center;
    margin: 20px;
  }


  #account-balance {
    margin-top: 10%;
  }


  img {
    width: 25px;
    height: auto;
  }

  .spacer {
    margin-left: 15px;
  }

  tr { 
    cursor: pointer; 
  }

  